@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.inter {
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

.blue{
  background-color: #0A73BA !important;
  
}
.green{
  background-color: #238600 !important;
}

.input{
  background-color: #F2F2F2 !important;
}





